<div class="panel panel-default">
    <div class="panel-heading">項目一覧</div>

    <div class="table-responsive">
        <table class="table table-boderless">
            <thead>
                <tr>
                  <th>登録者</th>
                  <th>項目</th>
                  <th>金額（税込）</th>
                  <th>日付</th>
                  <th>メモ</th>
                  <th>差額</th>
                </tr>
            </thead>
            <% sum = @items[0].price %>
            <% @items.each_with_index do |item, i| %>
            <tbody>
                <tr>
                  <td><%= item.user.nickname %></td>
                  <td><%= item.name %></td>
                  <td><%= item.price %></td>
                  <td><%= item.date %></td>
                  <td><%= item.text %></td>
                  <td>
                  <% unless i == 0 #２回目以降の場合 %>
                    <% if item.user == @items[i-1].user %>
                      <% sum += item.price %>
                    <% else %>
                      <% sum -= item.price %>
                    <% end %>
                  <% end %>
                  <%= sum %>
                  </td>
                </tr>
            </tbody>
            <% end %>
        </table>
    </div>
</div>

